node_modules/
**/node_modules/

dist/
build/
.svelte-kit/

.env
.env.*
!.env.example

infra/app.env

secrets/*
!secrets/.gitkeep

volumes/
**/data/
*.db
*.sqlite
database/local.db

.log

tmp/

apps/web/static/ffmpeg/

.DS_Store
Thumbs.db